@model TestCapacityControl.Models.Products

@{
    ViewData["Title"] = "Details";

    Model.runUpdate(); //To Update the data from DB

}

<div>
    <h2>Product: @Html.DisplayFor(model => model.ProductName)</h2>
    <dl class="dl-horizontal"></dl>
</div>
<table class="table">
    <thead>      
    </thead>
    <tbody>
        <tr>
            <th>
                <h3><mark>YIELD</mark></h3>
            </th>
        </tr>
        <tr>
            <th>
                <h3><mark>ME</mark></h3>
            </th>
            <th>
                <h3><mark>BE</mark></h3>
            </th>
            <th>
                <h3><mark>CFC</mark></h3>
            </th>
            <th>
                <h3><mark>PATS</mark></h3>
            </th>
        </tr>
        <tr>
            <td>
                <h5>IFLASH:<b> @Html.DisplayFor(model => model.YieldInline) %</b></h5>
                <h5>BRDTEST:<b> @Html.DisplayFor(model => model.YieldBrdTest) %</b></h5>
                <h5>BOARDTST:<b> @Html.DisplayFor(model => model.YieldBoardTst) %</b></h5>
                <h5>5GFR1BDTST:<b> @Html.DisplayFor(model => model.Yield5GFR) %</b></h5>
            </td>
            <td>
                <h5>DEPTHCAL:<b> @Html.DisplayFor(model => model.YieldDCAL) %</b></h5>
                <h5>DEPTHVAL:<b> @Html.DisplayFor(model => model.YieldDVAL) %</b></h5>
                <h5>CAMERACAL:<b> @Html.DisplayFor(model => model.YieldCamCAL) %</b></h5>
                <h5>CAMERAVAL:<b> @Html.DisplayFor(model => model.YieldCamVAL) %</b></h5>
                <h5>JOT:<b> @Html.DisplayFor(model => model.YieldJOT) %</b></h5>
                <h5>L2 VISION:<b> @Html.DisplayFor(model => model.YieldL2Vision) %</b></h5>
                <h5>L2 AR:<b> @Html.DisplayFor(model => model.YieldM2AR) %</b></h5>
                <h5>M2 CAMERA:<b> @Html.DisplayFor(model => model.YieldM2Cam) %</b></h5>
                <h5>M2 AR:<b> @Html.DisplayFor(model => model.YieldM2AR) %</b></h5>
                <h5>JOT SLIM:<b> @Html.DisplayFor(model => model.YieldJotSlim) %</b></h5>
                <h5>L2 AR SLIM:<b> @Html.DisplayFor(model => model.YieldARSlim) %</b></h5>
            </td>
            <td>
                <h5>CFC:<b> @Html.DisplayFor(model => model.YieldCFC) %</b></h5>
            </td>
            <td>
                <h5>PATS JOT:<b> @Html.DisplayFor(model => model.YieldPatsJot) %</b></h5>
                <h5>PATS M2:<b> @Html.DisplayFor(model => model.YieldPatsM2) %</b></h5>
                <h5>PATS SLIM:<b> @Html.DisplayFor(model => model.YieldPatsSlim) %</b></h5>
            </td>
        </tr>
        <tr>
            <th>
                <h3><mark>NTF</mark></h3>
            </th>
        </tr>
        <tr>
            <th>
                <h3><mark>ME</mark></h3>
            </th>
            <th>
                <h3><mark>BE</mark></h3>
            </th>
            <th>
                <h3><mark>CFC</mark></h3>
            </th>
            <th>
                <h3><mark>PATS</mark></h3>
            </th>
        </tr>
        <tr>
            <td>
                <h5>IFLASH:<b> @Html.DisplayFor(model => model.NtfInline) %</b></h5>
                <h5>BRDTEST:<b> @Html.DisplayFor(model => model.NtfBrdTest) %</b></h5>
                <h5>BOARDTST:<b> @Html.DisplayFor(model => model.NtfBoardTst) %</b></h5>
                <h5>5GFR1BDTST:<b> @Html.DisplayFor(model => model.Ntf5GFR) %</b></h5>
            </td>
            <td>
                <h5>DEPTHCAL:<b> @Html.DisplayFor(model => model.NtfDCAL) %</b></h5>
                <h5>DEPTHVAL:<b> @Html.DisplayFor(model => model.NtfDVAL) %</b></h5>
                <h5>CAMERACAL:<b> @Html.DisplayFor(model => model.NtfCamCAL) %</b></h5>
                <h5>CAMERAVAL:<b> @Html.DisplayFor(model => model.NtfCamVAL) %</b></h5>
                <h5>JOT:<b> @Html.DisplayFor(model => model.NtfJOT) %</b></h5>
                <h5>L2 VISION:<b> @Html.DisplayFor(model => model.NtfL2Vision) %</b></h5>
                <h5>L2 AR:<b> @Html.DisplayFor(model => model.NtfM2AR) %</b></h5>
                <h5>M2 CAMERA:<b> @Html.DisplayFor(model => model.NtfM2Cam) %</b></h5>
                <h5>M2 AR:<b> @Html.DisplayFor(model => model.NtfM2AR) %</b></h5>
                <h5>JOT SLIM:<b> @Html.DisplayFor(model => model.NtfJotSlim) %</b></h5>
                <h5>L2 AR SLIM:<b> @Html.DisplayFor(model => model.NtfARSlim) %</b></h5>
            </td>
            <td>
                <h5>CFC:<b> @Html.DisplayFor(model => model.NtfCFC) %</b></h5>
            </td>
            <td>
                <h5>PATS JOT:<b> @Html.DisplayFor(model => model.NtfPatsJot) %</b></h5>
                <h5>PATS M2:<b> @Html.DisplayFor(model => model.NtfPatsM2) %</b></h5>
                <h5>PATS SLIM:<b> @Html.DisplayFor(model => model.NtfPatsSlim) %</b></h5>
            </td>
        </tr>
        <tr>
            <th>
                <h3><mark>MCH. TIME</mark></h3>
            </th>
        </tr>
        <tr>
            <th>
                <h3><mark>ME</mark></h3>
            </th>
            <th>
                <h3><mark>BE</mark></h3>
            </th>
            <th>
                <h3><mark>CFC</mark></h3>
            </th>
            <th>
                <h3><mark>PATS</mark></h3>
            </th>
        </tr>
        <tr>
            <td>
                <h5>IFLASH:<b> @Html.DisplayFor(model => model.MTimeInline) s</b></h5>
                <h5>BRDTEST:<b> @Html.DisplayFor(model => model.MTimeBrdTest) s</b></h5>
                <h5>BOARDTST:<b> @Html.DisplayFor(model => model.MTimeBoardTst) s</b></h5>
                <h5>5GFR1BDTST:<b> @Html.DisplayFor(model => model.MTime5GFR) s</b></h5>
            </td>
            <td>
                <h5>DEPTHCAL:<b> @Html.DisplayFor(model => model.MTimeDCAL) s</b></h5>
                <h5>DEPTHVAL:<b> @Html.DisplayFor(model => model.MTimeDVAL) s</b></h5>
                <h5>CAMERACAL:<b> @Html.DisplayFor(model => model.MTimeCamCAL) s</b></h5>
                <h5>CAMERAVAL:<b> @Html.DisplayFor(model => model.MTimeCamVAL) s</b></h5>
                <h5>JOT:<b> @Html.DisplayFor(model => model.MTimeJOT) s</b></h5>
                <h5>L2 VISION:<b> @Html.DisplayFor(model => model.MTimeL2Vision) s</b></h5>
                <h5>L2 AR:<b> @Html.DisplayFor(model => model.MTimeM2AR) s</b></h5>
                <h5>M2 CAMERA:<b> @Html.DisplayFor(model => model.MTimeM2Cam) s</b></h5>
                <h5>M2 AR:<b> @Html.DisplayFor(model => model.MTimeM2AR) s</b></h5>
                <h5>JOT SLIM:<b> @Html.DisplayFor(model => model.MTimeJotSlim) s</b></h5>
                <h5>L2 AR SLIM:<b> @Html.DisplayFor(model => model.MTimeARSlim) s</b></h5>
            </td>
            <td>
                <h5>CFC:<b> @Html.DisplayFor(model => model.MTimeCFC) s</b></h5>
            </td>
            <td>
                <h5>PATS JOT:<b> @Html.DisplayFor(model => model.YieldPatsJot) s</b></h5>
                <h5>PATS M2:<b> @Html.DisplayFor(model => model.YieldPatsM2) s</b></h5>
                <h5>PATS SLIM:<b> @Html.DisplayFor(model => model.YieldPatsSlim) s</b></h5>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.products_Id">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
