@model TestCapacityControl.Models.Products

@{
    ViewData["Title"] = "Details";
  
}

<h2>Resume Details</h2>

<div>
    <h4>Product: @Html.DisplayFor(model => model.ProductName)</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>ME</h3>
            </th>
            <th>
                <h3>BE</h3>
            </th>
            <th>
                <h3>CFC</h3>
            </th>
            <th>
                <h3>PATS</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>IFLASH:<b> @Html.DisplayFor(model => model.YieldInline) %</b></h5>
                <h5>BRDTEST:<b> @Html.DisplayFor(model => model.YieldBrdTest) %</b></h5>
                <h5>BOARDTST:<b> @Html.DisplayFor(model => model.YieldBoardTst) %</b></h5>
                <h5>5GFR1BDTST:<b> @Html.DisplayFor(model => model.Yield5GFR) %</b></h5>
            </td>
            <td>
                <h5>DEPTHCAL:<b> @Html.DisplayFor(model => model.YieldDCAL) %</b></h5>
                <h5>DEPTHVAL:<b> @Html.DisplayFor(model => model.YieldDVAL) %</b></h5>
                <h5>CAMERACAL:<b> @Html.DisplayFor(model => model.YieldCamCAL) %</b></h5>
                <h5>CAMERAVAL:<b> @Html.DisplayFor(model => model.YieldCamVAL) %</b></h5>
                <h5>JOT:<b> @Html.DisplayFor(model => model.YieldJOT) %</b></h5>
                <h5>L2 VISION:<b> @Html.DisplayFor(model => model.YieldL2Vision) %</b></h5>
                <h5>L2 AR:<b> @Html.DisplayFor(model => model.YieldM2AR) %</b></h5>
                <h5>M2 CAMERA:<b> @Html.DisplayFor(model => model.YieldM2Cam) %</b></h5>
                <h5>M2 AR:<b> @Html.DisplayFor(model => model.YieldM2AR) %</b></h5>
                <h5>JOT SLIM:<b> @Html.DisplayFor(model => model.YieldJotSlim) %</b></h5>
                <h5>L2 AR SLIM:<b> @Html.DisplayFor(model => model.YieldARSlim) %</b></h5>
            </td>
            <td>
                <h5>CFC:<b> @Html.DisplayFor(model => model.YieldCFC) %</b></h5>
            </td>
            <td>
                <h5>PATS JOT:<b> @Html.DisplayFor(model => model.YieldPatsJot) %</b></h5>
                <h5>PATS M2:<b> @Html.DisplayFor(model => model.YieldPatsM2) %</b></h5>
                <h5>PATS SLIM:<b> @Html.DisplayFor(model => model.YieldPatsSlim) %</b></h5>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
