@model TestCapacityControl.Models.TestProcess

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestProcess</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Technology)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technology)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.M2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JOT_Slim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JOT_Slim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JOT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JOT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WUHAN_L2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WUHAN_L2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WUHAN_JOT_Slim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WUHAN_JOT_Slim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WUHAN_JOT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WUHAN_JOT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.testProcess_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
