@model IEnumerable<TestCapacityControl.Models.TestProcess>

@{
    ViewData["Title"] = "Test Process BE";
}

<h2>Test Process BE</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Technology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOT_Slim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WUHAN_L2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WUHAN_JOT_Slim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WUHAN_JOT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Technology)</b>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.L2)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.M2)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.JOT_Slim)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.JOT)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.WUHAN_L2)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.WUHAN_JOT_Slim)</b></mark>
                </td>
                <td>
                    <mark><b>@Html.DisplayFor(modelItem => item.WUHAN_JOT)</b></mark>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
