@model TestCapacityControl.Models.ProductsTABLET

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>Product: @Html.DisplayFor(model => model.ProductName)</h2>
    <dl class="dl-horizontal"></dl>
</div>
<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>
                <h1><u>YIELD</u></h1>
            </th>
        </tr>
        <tr>
            <th>
                <h2>ME</h2>
            </th>
            <th>
                <h2>BE</h2>
            </th>
            <th>
                <h2>CFC</h2>
            </th>
        </tr>
        <tr>
            <td>
                <h4>IFLASH:<b> @Html.DisplayFor(model => model.YieldInline) %</b></h4>
                <h4>WIFI:<b> @Html.DisplayFor(model => model.YieldWifi) %</b></h4>
                <h4>RFCAL:<b> @Html.DisplayFor(model => model.YieldRFCal) %</b></h4>
                <h4>NSFT:<b> @Html.DisplayFor(model => model.YieldNSFT) %</b></h4>
            </td>
            <td>
                <h4>RADCURR:<b> @Html.DisplayFor(model => model.YieldRadCurr) %</b></h4>
                <h4>VISION TOF:<b> @Html.DisplayFor(model => model.YieldTOF) %</b></h4>
                <h4>ANT:<b> @Html.DisplayFor(model => model.YieldANT) %</b></h4>
                <h4>MMI 1:<b> @Html.DisplayFor(model => model.YieldMMI1) %</b></h4>
                <h4>MMI 2:<b> @Html.DisplayFor(model => model.YieldMMI2) %</b></h4>
                <h4>AUDIO:<b> @Html.DisplayFor(model => model.YieldAUDIO) %</b></h4>
            </td>
            <td>
                <h4>WRITE NUMBER:<b> @Html.DisplayFor(model => model.YieldWriteNumber) %</b></h4>
                <h4>CFC UPGRADE:<b> @Html.DisplayFor(model => model.YieldCFCUp) %</b></h4>
                <h4>MMI 3:<b> @Html.DisplayFor(model => model.YieldMMI3) %</b></h4>
            </td>
        </tr>
        <tr>
            <th>
                <h1><u>NTF</u></h1>
            </th>
        </tr>
        <tr>
            <th>
                <h2>ME</h2>
            </th>
            <th>
                <h2>BE</h2>
            </th>
            <th>
                <h2>CFC</h2>
            </th>
        </tr>
        <tr>
            <td>
                <h4>IFLASH:<b> @Html.DisplayFor(model => model.NTFInline) %</b></h4>
                <h4>WIFI:<b> @Html.DisplayFor(model => model.NTFWifi) %</b></h4>
                <h4>RFCAL:<b> @Html.DisplayFor(model => model.NTFRFCal) %</b></h4>
                <h4>NSFT:<b> @Html.DisplayFor(model => model.NTFNSFT) %</b></h4>
            </td>
            <td>
                <h4>RADCURR:<b> @Html.DisplayFor(model => model.NTFRadCurr) %</b></h4>
                <h4>VISION TOF:<b> @Html.DisplayFor(model => model.NTFTOF) %</b></h4>
                <h4>ANT:<b> @Html.DisplayFor(model => model.NTFANT) %</b></h4>
                <h4>MMI 1:<b> @Html.DisplayFor(model => model.NTFMMI1) %</b></h4>
                <h4>MMI 2:<b> @Html.DisplayFor(model => model.NTFMMI2) %</b></h4>
                <h4>AUDIO:<b> @Html.DisplayFor(model => model.NTFAUDIO) %</b></h4>
            </td>
            <td>
                <h4>WRITE NUMBER:<b> @Html.DisplayFor(model => model.NTFWriteNumber) %</b></h4>
                <h4>CFC UPGRADE:<b> @Html.DisplayFor(model => model.NTFCFCUp) %</b></h4>
                <h4>MMI 3:<b> @Html.DisplayFor(model => model.NTFMMI3) %</b></h4>
            </td>
        </tr>
        <tr>
            <th>
                <h1><u>MCH. TIME</u></h1>
            </th>
        </tr>
        <tr>
            <th>
                <h2>ME</h2>
            </th>
            <th>
                <h2>BE</h2>
            </th>
            <th>
                <h2>CFC</h2>
            </th>
        </tr>
        <tr>
            <td>
                <h4>IFLASH:<b> @Html.DisplayFor(model => model.MTimeInline) %</b></h4>
                <h4>WIFI:<b> @Html.DisplayFor(model => model.MTimeWifi) %</b></h4>
                <h4>RFCAL:<b> @Html.DisplayFor(model => model.MTimeRFCal) %</b></h4>
                <h4>NSFT:<b> @Html.DisplayFor(model => model.MTimeNSFT) %</b></h4>
            </td>
            <td>
                <h4>RADCURR:<b> @Html.DisplayFor(model => model.MTimeRadCurr) %</b></h4>
                <h4>VISION TOF:<b> @Html.DisplayFor(model => model.MTimeTOF) %</b></h4>
                <h4>ANT:<b> @Html.DisplayFor(model => model.MTimeANT) %</b></h4>
                <h4>MMI 1:<b> @Html.DisplayFor(model => model.MTimeMMI1) %</b></h4>
                <h4>MMI 2:<b> @Html.DisplayFor(model => model.MTimeMMI2) %</b></h4>
                <h4>AUDIO:<b> @Html.DisplayFor(model => model.MTimeAUDIO) %</b></h4>
            </td>
            <td>
                <h4>WRITE NUMBER:<b> @Html.DisplayFor(model => model.MTimeWriteNumber) %</b></h4>
                <h4>CFC UPGRADE:<b> @Html.DisplayFor(model => model.MTimeCFCUp) %</b></h4>
                <h4>MMI 3:<b> @Html.DisplayFor(model => model.MTimeMMI3) %</b></h4>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>