@model IEnumerable<TestCapacityControl.Models.ProductsTABLET>

@{
    ViewData["Title"] = "Products Resume (Tablet)";
}

<h2>Products - Tablet</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.productTablet_Id"> @Html.DisplayFor(modelItem => item.ProductName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.productTablet_Id">Edit</a>
                    <!--<a asp-action="Details" asp-route-id="@item.productTablet_Id">Details</a> |-->
                    <!-- <a asp-action="Delete" asp-route-id="@item.productTablet_Id">Delete</a> -->
                </td>
            </tr>
        }
    </tbody>
</table>
