@model TestCapacityControl.Models.ProductUpdateTablet

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductUpdateTablet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductNameUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNameUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldInline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldInline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldWifi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldWifi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldRFCal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldRFCal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldNSFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldNSFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldRadCurr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldRadCurr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldTOF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldTOF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldANT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldANT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldMMI1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldMMI1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldMMI2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldMMI2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldAudio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldAudio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldWriteNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldWriteNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldCFCUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldCFCUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YieldMMI3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YieldMMI3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfInline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfInline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfWifi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfWifi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfRFCal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfRFCal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfNSFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfNSFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfRadCurr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfRadCurr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfTOF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfTOF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfANT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfANT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfMMI1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfMMI1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfMMI2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfMMI2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfAudio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfAudio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfWriteNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfWriteNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfCFCUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfCFCUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NtfMMI3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NtfMMI3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeInline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeInline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeWifi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeWifi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeRFCal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeRFCal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeNSFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeNSFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeRadCurr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeRadCurr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeTOF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeTOF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeANT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeANT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeMMI1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeMMI1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeMMI2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeMMI2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeAudio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeAudio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeWriteNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeWriteNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeCFCUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeCFCUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MTimeMMI3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MTimeMMI3)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
