@model IEnumerable<TestCapacityControl.Models.TestRatesCelular>

@{
    ViewData["Title"] = "Test Rates - Celular";
}

<h2>Test Rates - Celular</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFCUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CFCNt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatsJotUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatsM2Uph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOTSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOTSlimPsps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JotSlimSpr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOTSlimTotalUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JOTSlimNt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2ArSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2ArSlimFxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2ArSlimSpr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2ArSlimTotalUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L2ArSlimNt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATSSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMVALSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMVALSlimFxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMVALSlimSpr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMVALSlimTotalUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMVALSlimNt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMCALSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMCALSlimFxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMCALSlimSpr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMCALSlimTotalUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAMCALSlimNt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FODSlimUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FODSlimFxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FODSlimSpr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FODSlimTotalUph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FODSlimNt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.product)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFCUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFCNt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatsJotUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatsM2Uph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOTSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOTSlimPsps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JotSlimSpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOTSlimTotalUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOTSlimNt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L2ArSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L2ArSlimFxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L2ArSlimSpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L2ArSlimTotalUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L2ArSlimNt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATSSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMVALSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMVALSlimFxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMVALSlimSpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMVALSlimTotalUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMVALSlimNt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMCALSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMCALSlimFxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMCALSlimSpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMCALSlimTotalUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAMCALSlimNt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FODSlimUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FODSlimFxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FODSlimSpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FODSlimTotalUph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FODSlimNt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
