@model TestCapacityControl.Models.ProductSetup

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductSetup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestSets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestSets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PowerSupply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerSupply)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.License)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PSAUX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PSAUX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TDD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TDD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Freq6Ghz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Freq6Ghz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
